<app-cabecera>  </app-cabecera>  
  
  <section class="bio p-section">
    <div class="container">
      <div class="row d-flex align-items-center">        
        <div class="col text-center">
          <img src="./assets/imagenes/mc1.jpg" alt="">
        </div>
        <div class="col ">
          <h1>Mariano Camara</h1>
          <p>Soy un alumno de la UTN FRA. <br> Este es mi trabajo practico.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="p-section bg-01">      
    <div class="container">
      <div class="col text-center pb-5 titulos">
        <h6>Ventajas</h6>
        <h2 class="title text-cap">¿Dónde funciona?</h2>
      </div>
      <div class="row text-center">
        <div class="col">
          <img src="./assets/imagenes/language.png" alt="">
          <h4 class="pb-4 pt-4">Web</h4>
          <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma.</p>
          
        </div>
        <div class="col">
          <img src="./assets/imagenes/user.png" alt="">
          <h4 class="pb-4 pt-4">UX</h4>
          <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
          
        </div>
        <div class="col">
          <img src="./assets/imagenes/browser.png" alt="">
          <h4 class="pb-4 pt-4">OS</h4>
          <p>Para los sistemas operativos lideres en el mercado del consumo masivo.</p>
        </div>     
      </div>
    </div>
  </section>
  
  <section class="tp p-section">
    <div class="container">
      <div class="row d-flex align-items-center"> 
        <div class="col text-center">
          <h2 class="p-3">Esto es un trabajo practico</h2>
          <p>Cada universidad, cada facultad, cada carrera y obviamente cada materia en particular tiene estrategias didácticas y formas de evaluación diferentes. A pesar de que en muchos casos las universidades intentan estandarizar la forma de dictar clase para generar un orden en las planificaciones cuatrimestre a cuatrimestre, las formas de evaluación son elementales tanto para las instituciones y profesores como para los alumnos. A través de la evaluación formativa el educador busca información en el alumno para lograr comprender cómo se está produciendo el proceso de aprendizaje y poder reajustar los objetivos pedagógicos. Y para el alumno es una muestra del progreso que está logrando y si puede aplicar, materializar y darle visibilidad a la comprensión del tema. Según Black y William (1998), la evaluación formativa, ayuda a que los estudiantes sean independientes a la hora del aprendizaje, es decir, se presenta como receptor, autorregulador y centro de esa misma evaluación.</p>
          <p><img src="./assets/imagenes/pdf.png" alt="">
            <a href="#" class="btn btn-default btn-lg text-left">Descargar PDF</a></p>
        </div>       
      </div>
    </div>
  </section>
    
  <section class="juego bio bg-01 p-section">
    <div class="container">
      <div class="row d-flex align-items-center">        
        <div class="col text-center">
          <img src="./assets/imagenes/simon.png" alt="">
        </div>
        <div class="col titulos">          
          <h6 class="pl-2">Simon dice</h6>
          <h1>Mi juego</h1>
           <p class="pl-2">El juego va iluminando de forma aleatoria los cuadrantes de colores, cada uno con un color: verde, rojo, azul y amarillo.Después de esperar, el usuario debe ir introduciendo la secuencia mostrada en el orden correcto, ayudándose de su memoria visual. Si lo consigue, éste responderá con una secuencia más larga, y así sucesivamente. Si falla, el usuario debe volver a empezar.</p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center p-5">
    <p class="m-0">Modificado por Mariano</p> 
  </footer>