.contenedor {
    justify-content: center;
    align-content: center;
    display: flex;
}

.contenedor h3 {
    text-align: center;
    position: absolute;
}
.contenedor h3 button {
    margin-top: 45px;
}
.contenedor h4 {
    position: absolute;
}
.contenedor h4:first-of-type {
    margin-top: 410px;
}
.contenedor h4:last-of-type {
    margin-top: 460px;
}

#board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    font-size: 50px;
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
}

#board.locked {
    opacity: .7;
    pointer-events: none;
}

#board .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    color: #13195b;
    font-weight: bold;
    box-shadow: 5px 4px 6px 4px #d2d2d2;
}

#board .square.checked {
    cursor: default;
}

#board .square.winner {
    background-color: #A1FFA1;
}

#board .square.looser {
    background-color: #ffa1a1;
}

input[type=button] {
    margin-top: 20px;
}

.info{
    background: white;
    padding: 35px 0;
    text-align: center;
    margin: auto;
    border-radius: 10px
}

.score-board {
    border: 3px solid #4398d1;
    width: 300px;
    margin: 40px auto;
    font-size: 40px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}
.badge {
    background: #4de296;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 6px;
}

.pc {
    background: #e2584d;
}


#user-label {
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(-10%, -50%);
}

#computer-label {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(30%, -50%);
}

.result {
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
}

.result {
    line-height: 50px;
}

@media screen and (max-width: 400px) {
    #board {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 75px 75px 75px;
        grid-template-rows: 75px 75px 75px;
        font-size: 35px;
        grid-gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .turnos h3{
        font-size: 20px;
    }

    .score-board {
        border: 3px solid #4398d1;
        width: 250px;
        margin: 40px auto;
        font-size: 30px;
        border-radius: 4px;
        text-align: center;
        padding: 15px 20px;
        position: relative;
    }
    .info{
        background: white;
        padding: 35px 0;
        text-align: center;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
    }   
}