<app-cabecera></app-cabecera>
<app-titulo titulo="Listado de los jugadores registrados"></app-titulo>

<div class="container">
  <div class="row">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th>Nombre de usuario</th>
          <th>UID</th>
          <th>Email</th>
          <th>Fecha de creacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of listado; index as i" >
          <th scope="row">{{i}}</th>
          <td>{{jugador.name}} </td>
          <td>{{jugador.uid}} </td> 
          <td>{{jugador.mail}}</td>
          <td>{{jugador.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
