<app-cabecera>  </app-cabecera>

<section class="principal mt-5">
  <div class="container">
    <div class="row">
      
      <div class="col-md-3"  routerLink="/Juegos">     
        <div class="card">
          <img src="./assets/imagenes/games.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Juegos</h5>
            <p class="card-text">Demostra tus habilidades y competi contra los mejores jugadores.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" routerLink="/Resultados">        
        <div class="card">
          <img src="./assets/imagenes/list.jpg" class="card-img-top" alt="./assets/imagenes/conf.jpg">
          <div class="card-body">
            <h5 class="card-title">Resultados</h5>
            <p class="card-text">Listados de los resultados con ordenamiento y busqueda.</p>
          </div>
        </div>
      </div>    
      <div class="col-md-3" routerLink="/Juegos">        
        <div class="card">
          <img src="./assets/imagenes/conf.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Configuracion</h5>
            <p class="card-text">Ajustes de la aplicacion y los métodos de autentificación.</p>
          </div>
        </div>
      </div>    
      <div class="col-md-3" routerLink="/Jugadores">        
        <div class="card">
          <img  class="card-img-top" src="./assets/imagenes/players.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Jugadores</h5>
            <p class="card-text">Listado de los jugadores con su informacion y resultados.</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>