<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<!-- index.html -->

<div class="container">
  <div class="row">
      <div class="col-md-6"><img src="./assets/imagenes/calculating.png" alt=""></div>
    <div class="col-md-4">
      <input  placeholder="{{nuevoJuego.primerNumero}}" name="numeroIngresado" type="text" class="centro" style="width:100%;" readonly/>
      <div>
        <input placeholder="{{nuevoJuego.operando}}" name="numeroIngresado" type="text" class="centro" style="width:75%;" readonly/>
        <input placeholder="{{nuevoJuego.segundoNumero}}" name="numeroIngresado" type="text" class="centro" style="width:25%; float:right;" readonly/>
        <div class="separator"></div>
        <input [(ngModel)]="nuevoJuego.eleccionUsuario" placeholder="respuesta" name="numeroIngresado" type="text" class="form-control" style="width:100%;color:#17a2b8;"/>
        <div>
          <h2 [hidden]="!ocultarVerificar" class="mt-3 float-right"><button  (click)="NuevoJuego()"  class="btn btn-info btn-lg">Nuevo juego</button></h2>
          <h2 [hidden]="ocultarVerificar" class="mt-3 text-right">Tiempo restante: {{Tiempo}}</h2>      
          <h2 [hidden]="ocultarVerificar" class="mt-3 float-right"><button (click)="verificar()" class="btn btn-success btn-lg">Ingresar respuesta </button></h2>
        </div>
      </div>
    </div>
     
  </div>
<div *ngIf="nuevoJuego.gano == true">
  <iframe src="https://giphy.com/embed/ZEU9ryYGZzttn0Cva7" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  </div>