<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" href="https://github.com/marianocamara"target="_blank"><i class="fa fa-github"></i> GitHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/QuienSoy" ><i class="fa fa-user"></i> Quien Soy? </a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" routerLink="/">Sala de Juegos</a>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Registro">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" routerLink="/Login">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info" (click)="authService.SignOut()">Cerrar sesion</a>
      </li>
    </ul>
  </div>
</nav>