<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/"><strong> Sala de Juegos</strong></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-info" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" routerLink="/QuienSoy" ><i class="fa fa-user"></i> Quien Soy? </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info " href="https://github.com/marianocamara"target="_blank"><i class="fa fa-github"></i> GitHub</a>
        </li>
      </ul>
      
      <div class="form-inline my-2 my-lg-0">
          <a class="nav-link text-info" routerLink="/Login">Ingresar</a>
          <a class="nav-link text-info" routerLink="/Registro">Registrarse</a>
          <a class="nav-link text-info" (click)="authService.SignOut()">Cerrar sesion</a>
      </div>
    </div>
  </nav>